Temporary admission verification. This PR will be closed without merging.
